:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 1em;
  background-color: transparent;
  color: CanvasText;
  font: caption;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.75em;
}
